/* Webfont: Shoal-Medium */@font-face {
    font-family: 'ShoalMedium';
    src: url('Shoal-Medium.woff2') format('woff2'), /* Modern Browsers */
         url('Shoal-Medium.otf') format('opentype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

