/* Webfont: Shoal-BoldOblique */@font-face {
    font-family: 'ShoalBoldOblique';
    src: url('Shoal-BoldOblique.woff2') format('woff2'), /* Modern Browsers */
         url('Shoal-BoldOblique.otf') format('opentype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

